/META.yml
/MYMETA.*
/Makefile
/Makefile.old
/MANIFEST
/MANIFEST.bak
/blib/
/pm_to_blib
/.build
*.bs
*.o
/cover_db
*.gc??
nytprof*
.*.sw?
/README
/Distar/
/strictures-*/
/strictures-*.tar.gz

# yes that's right, distar makes it for us
MANIFEST.SKIP
